.home {
  width: 100%;
  position: relative;
  background-color: var(--background-color-primary);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
