.cameraChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
}
.camera {
  align-self: stretch;
  height: 672px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
