.imageIcon {
  width: 486px;
  position: relative;
  height: 518px;
  object-fit: cover;
  min-width: 485px;
}
.heading {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.tabHorizontal {
  align-self: stretch;
  border-left: 2px solid var(--border-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-13xl);
  gap: var(--gap-base);
}
.tabHorizontal1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-13xl);
  gap: var(--gap-base);
}
.tabsMenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 336px;
}
.layout219 {
  align-self: stretch;
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-93xl) var(--padding-45xl);
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--heading-desktop-h4-size);
  color: var(--border-primary);
  font-family: var(--text-regular-semi-bold);
}
