.CropControls {
  margin-bottom: 10px; /* Optional: Adds space below .Crop-Controls */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  gap: 24px; /* Adds 3px gap between child elements */
}


.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color-primary);
  border-radius: var(--br-5xl);
}

.cameraChild {
  flex: 1;
  height: 100%;
  width: 100%;
  border-radius: var(--br-5xl);
  background-color: var(--background-color-primary);
}
/* photo.module.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  align-self: stretch;
  gap: 30px;
  height: auto;
}

.previewCanvas {
  max-width: 80%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 20px 0;
}

.track {
  top: 20px;
  height: 10px;
  background: #ddd;
}

.track.track-0 {
  background: #5db7de;
}

.thumb {
  top: 12px;
  width: 26px;
  height: 26px;
  text-align: center;
  background-color: #5db7de;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.thumb:hover {
  box-shadow: 0 0 0 8px #5db7de50;
}

.thumb.active {
  background-color: #4a90e2;
}