.Crop-Controls {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Crop-Controls > * {
  margin-bottom: 3px;
}


.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color-primary);
  border-radius: var(--br-5xl);
}

.cameraChild {
  flex: 1;
  height: 100%;
  width: 100%;
  border-radius: var(--br-5xl);
  background-color: var(--background-color-primary);
}
/* photo.module.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  align-self: stretch;
  justify-content: space-between;
  height: 900px;
}
